# Environment files
.env
*.env

# SSL certificates
ca-certificate.crt
*.crt
*.pem
*.key

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
.venv/

# IDE and editor settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Build / deployment
build/
dist/
*.egg-info/
